<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.academy.latteis.good.repository.GoodMapper">

    <resultMap id="boardGoodMap" type="com.academy.latteis.good.domain.BoardGood">
        <result property="boardGoodNo" column="board_good_no"/>
        <result property="userNo" column="user_no"/>
        <result property="boardNo" column="board_no"/>
    </resultMap>

    <!-- 좋아요 체크 -->
    <insert id="check">
        insert into board_good(user_no, board_no)
        values (#{userNo}, #{boardNo})
    </insert>

    <!-- 좋아요 취소 -->
    <delete id="unCheck">
        delete
        from board_good
        where user_no = #{userNo}
          and board_no = #{boardNo}
    </delete>

    <!-- 게시글 삭제할 때, 해당 게시글 좋아요도 삭제 -->
    <delete id="removeByBoardNo">
        delete
        from board_good
        where board_no = #{boardNo}
    </delete>

    <!-- 좋아요 수 -->
    <select id="goodCnt" resultType="int">
        select COUNT(*)
        from board_good
        where board_no = #{boardNo}
    </select>


    <delete id="exitUser">
        delete from board_good where user_no=#{userNo}
    </delete>

</mapper>