<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.academy.latteis.user.repository.UserMapper">

    
    <resultMap id="userMap" type="com.academy.latteis.user.domain.User">
        <id property="user_no" column="user_no" />
        <result property="user_nickname" column="user_nickname" />
        <result property="user_name" column="user_name" />
        <result property="user_email" column="user_email" />
        <result property="password" column="password" />
        <result property="user_year" column="user_year" />
    </resultMap>

<!--    // 일기 작성-->
    <insert id="save">
        insert into user
        (user_nickname, user_name, user_email, password, user_year)
        values (#{user_nickname}, #{user_name}, #{user_email}, #{password}, #{user_year})
    </insert>

<!--&lt;!&ndash;    // 일기 리스트&ndash;&gt;-->
<!--    <select id="findAll" resultMap="diaryMap">-->
<!--        select * from diary-->
<!--                 order by diary_no desc-->
<!--                 limit #{start}, #{amount}-->
<!--    </select>-->

<!--&lt;!&ndash;    일기 상세보기&ndash;&gt;-->
<!--    <select id="findOne" resultMap="diaryMap">-->
<!--        select * from diary where diary_no = #{diary_no}-->
<!--    </select>-->

<!--&lt;!&ndash;    일기 삭제&ndash;&gt;-->
<!--    <delete id="remove">-->
<!--        delete from diary where diary_no = #{diaryNo}-->
<!--    </delete>-->

<!--&lt;!&ndash;    일기 수정&ndash;&gt;-->
<!--    <update id="modify">-->
<!--        update diary set emotion = #{emotion}, diary_show = #{diaryShow}, diary_content = #{diaryContent}-->
<!--        where diary_no = #{diaryNo}-->
<!--    </update>-->




<!--    <select id="getTotalCount" resultType="int">-->
<!--        SELECT COUNT(*)-->
<!--        FROM diary-->
<!--    </select>-->




</mapper>