<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.academy.latteis.user.repository.UserMapper">

    
    <resultMap id="userMap" type="com.academy.latteis.user.domain.User">
        <id property="userNo" column="user_no" />
        <result property="userNickname" column="user_nickname" />
        <result property="userName" column="user_name" />
        <result property="userEmail" column="user_email" />
        <result property="password" column="password" />
        <result property="userYear" column="user_year" />
        <result property="login" column="login" />
    </resultMap>

    <insert id="save">
        insert into user
        (user_nickname, user_name, user_email, password, user_year, login)
        values (#{userNickname}, #{userName}, #{userEmail}, #{password}, #{userYear}, #{login})
    </insert>


    <select id="isDuplicate" resultType="int">
        SELECT COUNT(*)
        FROM user
        <if test="type=='user_nickname'">
            WHERE user_nickname = #{value} and login=#{login}
        </if>
        <if test="type=='user_email'">
            WHERE user_email = #{value} and login=#{login}
        </if>
    </select>

    <select id="findUser" resultMap="userMap">
        SELECT *
        FROM user
        WHERE user_email = #{userEmail} and login = #{login}
    </select>

    <!-- 자동 로그인 정보 추가   -->
    <update id="saveAutoLoginValue">

        UPDATE user
        SET session_id = #{sessionId}, limit_time = #{limitTime}
        WHERE user_email = #{userEmail} and login = #{login}

    </update>

    <select id="findUserBySessionId" resultMap="userMap">

        SELECT * FROM user
        WHERE session_id = #{sessionId}

    </select>

    <update id="reviseUser">
        update user set user_nickname = #{userNickname}, user_name = #{userName}, user_year = #{userYear} where user_no = #{userNo}
    </update>
    
    <delete id="exitUser">
        delete from user where user_no=#{userNo};
    </delete>


</mapper>