<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.academy.latteis.comment.repository.CommentMapper">

    <resultMap id="commentMap" type="com.academy.latteis.comment.domain.Comment">
        <result property="commentNo" column="comment_no"/>
        <result property="commentWriter" column="comment_writer"/>
        <result property="commentContent" column="comment_content"/>
        <result property="commentDate" column="comment_regdate"/>
        <result property="boardNo" column="board_no"/>
        <result property="userNickname" column="user_nickname"/>
    </resultMap>

    <!-- 댓글 삽입 -->
    <insert id="write">
        INSERT INTO comment(comment_writer, comment_content, board_no, user_nickname)
        VALUES (#{commentWriter}, #{commentContent}, #{boardNo}, #{userNickname})
    </insert>

    <!-- 댓글 목록 조회 -->
    <select id="findAll" resultMap="commentMap">
        SELECT *
        FROM comment
        WHERE board_no = #{boardNo}
        ORDER BY comment_no
            LIMIT #{page.start}, #{page.amount}
    </select>

    <!-- 댓글 삭제 -->
    <delete id="remove">
        DELETE
        FROM comment
        WHERE comment_no = #{commentNo}
    </delete>

    <!-- 댓글 전체 삭제 -->
    <delete id="removeByBoardNo">
        DELETE FROM comment
        WHERE board_no = #{boardNo}
    </delete>

    <!-- 댓글 수정 -->
    <update id="edit">
        UPDATE comment
        SET comment_content = #{commentContent}
        WHERE comment_no = #{commentNo}
    </update>

    <!-- 댓글 수 -->
    <select id="getCommentCount" resultType="int">
        SELECT COUNT(*)
        FROM comment
        WHERE board_no = #{boardNo}
    </select>

    <delete id="exitUser">
        delete from comment where user_nickname = #{userNickname}
    </delete>

    <update id="reviseUser">
        update comment set user_nickname = #{afterUserNickname}, comment_writer = #{afterUserNickname} where user_nickname = #{beforeUserNickname}
    </update>

</mapper>