<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.academy.latteis.diary.repository.DiaryMapper">

    
    <resultMap id="diaryMap" type="com.academy.latteis.diary.domain.Diary">
        <id property="diaryNo" column="diary_no" />
        <result property="diaryContent" column="diary_content" />
        <result property="diaryRegdate" column="diary_regdate" />
        <result property="diaryShow" column="diary_show" />
        <result property="diaryGood" column="diary_good" />

    </resultMap>

<!--    // 일기 작성-->
    <insert id="save">
        insert into diary
        (emotion, diary_content, diary_show)
        values (#{emotion}, #{diaryContent}, #{diaryShow})
    </insert>

<!--    // 일기 리스트-->
    <select id="findAll" resultMap="diaryMap">
        select * from diary
                 order by diary_no desc
                 limit #{start}, #{amount}
    </select>

<!--    일기 상세보기-->
    <select id="findOne" resultMap="diaryMap">
        select * from diary where diary_no = #{diary_no}
    </select>

<!--    일기 삭제-->
    <delete id="remove">
        delete from diary where diary_no = #{diaryNo}
    </delete>

<!--    일기 수정-->
    <update id="modify">
        update diary set emotion = #{emotion}, diary_show = #{diaryShow}, diary_content = #{diaryContent}
        where diary_no = #{diaryNo}
    </update>




    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM diary
    </select>




</mapper>