<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.academy.latteis.diary.repository.DiaryMapper">

    
    <resultMap id="diaryMap" type="com.academy.latteis.diary.domain.Diary">
        <id property="diaryNo" column="diary_no" />
        <result property="diaryContent" column="diary_content" />
        <result property="diaryRegdate" column="diary_regdate" />
        <result property="diaryShow" column="diary_show" />
        <result property="diaryGood" column="diary_good" />
        <result property="diaryHit" column="diary_hit" />
        <result property="userNickname" column="user_nickname" />
    </resultMap>

    <resultMap id="userMap" type="com.academy.latteis.user.domain.User">
        <id property="userNo" column="user_no" />
        <result property="userNickname" column="user_nickname" />
        <result property="userName" column="user_name" />
        <result property="userEmail" column="user_email" />
        <result property="password" column="password" />
        <result property="userYear" column="user_year" />
        <result property="login" column="login" />
    </resultMap>

    


<!--    // 일기 작성-->
    <insert id="save">
        insert into diary
        (emotion, diary_content, diary_show, user_nickname)
        values (#{emotion}, #{diaryContent}, #{diaryShow}, #{userNickname})
    </insert>
<!--글 작성 시 좋아요 테이블에도 저장-->
<!--    <insert id="saveGood">-->
<!--        insert into good (user_no, diary_no, good_check) values (#{userNo}, #{diaryNo}, 'false');-->
<!--    </insert>-->

    <!--    // 일기 리스트-->
    <select id="findAll" resultMap="diaryMap">
        select * from diary
                 order by diary_no desc
                 limit #{start}, #{amount}
    </select>

<!--    공개된 일기 리스트-->
    <select id="findPublicList" resultMap="diaryMap">
        select * from diary where diary_show = '공개' order by diary_no desc
        limit #{start}, #{amount}
    </select>

<!--    내가 쓴 일기 리스트-->
    <select id="findMyList" resultMap="diaryMap">
        select * from diary where user_nickname = #{userNickname} order by diary_no desc
        limit #{dp.start}, #{dp.amount}
    </select>
    
<!--    베스트 일기 리스트-->
    <select id="findBestDiary" resultMap="diaryMap">
        select * from diary where diary_show = '공개' and diary_good >= 4 order by diary_good desc
        limit #{start}, #{amount}
    </select>

<!--    최고 베스트글 뽑아오기-->
    <select id="findBestOne" resultMap="diaryMap">
        select * from diary where diary_regdate = (select max(diary_regdate) from diary where diary_show = '공개' and diary_good = (select max(diary_good) from diary));
    </select>

<!--    조회수-->
    <update id="hitUp">
        update diary set diary_hit = diary_hit + 1 where diary_no = #{diaryNo}
    </update>



<!--    일기 상세보기-->
    <select id="findOne" resultMap="diaryMap">
        select * from diary where diary_no = #{diary_no}
    </select>

<!--    일기 삭제-->
    <delete id="remove">
        delete from diary where diary_no = #{diaryNo}
    </delete>

<!--    일기 수정-->
    <update id="modify">
        update diary set emotion = #{emotion}, diary_show = #{diaryShow}, diary_content = #{diaryContent}
        where diary_no = #{diaryNo}
    </update>

    <!--일기 총 개수-->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM diary  where diary_show = '공개'
    </select>

<!--    추천상태확인-->
    <select id="goodCheck" resultType="String">
        select good_check
        from good
        where diary_no = #{diaryNo} and user_no = #{userNo}
    </select>

    <!--    일기 좋아요 체크-->
    <update id="goodUpCheck">
        update good
        set  good_check = "true"
        where diary_no = #{diaryNo} and user_no = #{userNo}
    </update>

    <update id="goodDownCheck">
        update good
        set  good_check = "false"
        where diary_no = #{diaryNo} and user_no = #{userNo}
    </update>

<!--    좋아요 + 1 (처음)-->
    <insert id="goodFirstUp">
        insert into good (user_no, diary_no, good_check) values (#{userNo}, #{diaryNo}, 'false');
    </insert>

    <!--    좋아요 + 1 (추가)-->
    <update id="goodUp">
        update diary
        set diary_good = diary_good + 1
        where diary_no = #{diaryNo}
    </update>

<!--    좋아요 - 1 (취소)-->
    <update id="goodDown">
        update diary
        set diary_good = diary_good - 1
        where diary_no = #{diaryNo}
    </update>

<!--일기장으로 유저정보 가져오기-->
<select id="findUserByDiaryNo" resultType="com.academy.latteis.diary.dto.ValidateDiaryUserDTO">
    SELECT user_email AS userEmail, auth
    FROM user
    WHERE user_nickname = (
        SELECT user_nickname
        FROM diary
        WHERE diary_no = #{diaryNo}
    )
</select>

    <delete id="dExitUser">
        delete from diary where user_nickname=#{userNickname}
    </delete>

    <delete id="gExitUser">
        delete from good where user_no=#{userNo}
    </delete>


    <update id="reviseUser">
        update diary set user_nickname = #{afterUserNickname} where user_nickname = #{beforeUserNickname}
    </update>

    <update id="exitUser">
        update diary set diary_good = diary_good - 1 where diary_no in (select diary_no from good where user_no=#{userNo} and good_check='true')
    </update>
    
<!--&lt;!&ndash;    좋아요 이력을 가져오기&ndash;&gt;-->
<!--    <select id="findGoodCheck" resultMap="goodMap">-->
<!--        select * from good where diary_no = #{diaryNo} and user_no = #{userNo}-->
<!--    </select>-->

</mapper>