.today-diary {
    font-weight: 600;
    line-height: 100px;
    border-bottom: black solid 3px;
}


.diary_title {
    margin-top: 5%;
}


.form-control {
    border-color: #ffc720;
}
.btn-list {
    display: flex !important;
    justify-content: space-between;
}
.custom-wrap {
    background-color: white;
    border-radius: 5%;
    width: 800px;
    margin: auto;
    height: 550px;
    margin-bottom: 20%  ;
}
.custom-container {
    width: 95%;
}

#emotion-input {
    margin-top: 10px;
}



.uploadDiv {
    border-color: #ffc720;
}


.custom-button {
    margin-top: 3%;
    width: 200px;
    float: left;
    position: relative;
    margin: auto;
}



.custom-emotion,.custom-show, .custom-good, .custom-good-bt {
    background-color: #ffc720;
    color: black;
    margin-top: 20px;
    font-size: 17px;
}
.custom-good-bt :hover {
    background-color: #fd7e14;

}
.good-part {
    text-align: right;
    margin-bottom: 10px;
}

.form-control {
    height: 248px;
}


html > body {
    font-family: 'KyoboHand';
}

.detail_div {
    margin-bottom: 2%;
}

@media screen and (max-width: 412px) {

    .form-size {
        width: 100%;
    }

    .write-container {
        width: 100%;
        margin: 200px auto 150px;
        font-size: 1.2em;
        padding: 5%;
    }

    .custom-wrap {
        background-color: white;
        border-radius: 5%;
        width: 90%;
        margin: auto;
        height: 550px;
        margin-bottom: 20%  ;
    }


}