/* 전체 배경 & 폰트 */
@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    background-image: url("https://img.freepik.com/free-photo/white-crumpled-paper-texture-for-background_1373-159.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    font-family: KyoboHand;
}

/* 메인 */
.wrap {
    width: 50%;
    margin: 0 auto;
}

.content-container {
    margin-top: 200px;
    margin-bottom: 100px;
}

.content-container * {
    font-size: 20px;
}

.content-container .mb-3 .form-control {
    background: #fff !important;
}

.content-container .main-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid rgb(75, 73, 73);
    padding: 0 20px 15px;
    width: fit-content;
    margin: 20px auto 30px;
}

.content-container .board-no-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #808080;
}

.content-container .main-content {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 1.1em;
    text-align: justify;
    background: #fff;
    min-height: 400px;
    overflow: hidden;
}

.content-container .detail-main-content {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 1.1em;
    text-align: justify;
    background: #fff;
    min-height: 400px;
    overflow: hidden;

    /* 줄바꿈 출력 */
    white-space: pre-wrap;

    /* 한글, 영어 둘다 줄바꿈 => 얘 없으면 한글만 줄바꿈 된다.. */
    word-break: break-word;
}

.content-container .custom-btn-group {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 파일 업로드 영역 */
.fileDrop {
    width: 100%;
    height: 200px;
    border: 2px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 16px;
}

.write-img-uploaded-list, .write-file-uploaded-list {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.img-uploaded-list, .file-uploaded-list {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.img-sizing {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.img-sizing:hover {
    opacity: 0.5
}

.detail-img-sizing {
    display: block;
    width: 100%;
    margin: 10px;
}

.a-sizing {
    display: block;
    color: #000;
    margin: 10px;
}

/* textarea - 제목, 내용 */
textarea {
    resize: none;
    overflow: hidden;
}

/* 하단 버튼 스타일 */
.d-flex {
    justify-content: space-between;
    margin-bottom: 10px;
}

#edit-btn, #del-btn {
    width: 49%;
}

/* 댓글 스타일 적용*/
#comments {
    margin-bottom: 10px;
}

#commentData {
    margin-bottom: 16px;
}

#commentContent {
    margin: 0 20px;
}
#commentEditBtn, #commentDelBtn  {
    height: 40px;
}

.row {
    justify-content: space-between;
}

.text-right {
    display: flex;
    justify-content: end;
}

.bottom-line {
    border-bottom: 1px solid lightgray;
}

#commentAddBtn {
    margin-bottom: 6px;
}

/* 좋아요 체크 */
#good-check {
    cursor: pointer;
}

/* 페이지 버튼 스타일 */
.pagination-custom li a {
    color: #000 !important;
}

.pagination-custom li.active a,
.pagination-custom li:hover a {
    background: lightyellow !important;
    border-color: orange !important;
}

.float-right {
    float : right;
}

/*==================================*/
@media screen and (max-width: 412px) {

    .my-img {
        width: 100%;
        height: 100%;
    }

    .wrap {
        width: 100%;
        margin: 0 auto;
        padding: 5%;
    }
    .content-container {
        margin-top: 115px;
        margin-bottom: 100px;
    }
    .media-w {
        width: 50% !important;

    }
    .stamp {
        width: 100%;
    }

    .user-block {
        flex-wrap: nowrap;
    }
    .user-block span:first-child {
        width: 40%;
    }
    .user-block span:last-child {
        width: auto;
    }

    .upload-hide {
        display: none;
    }

}

