.wrap {
    width: 50%;
    margin: 0 auto;
}
.content-container {
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 20px;
}
.content-container .mb-3 .form-control {
    background: #fff !important;
}
.content-container .main-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid rgb(75, 73, 73);
    padding: 0 20px 15px;
    width: fit-content;
    margin: 20px auto 30px;
}
.content-container .main-content {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 1.1em;
    text-align: justify;
    background: #fff;
    min-height: 400px;
}
.content-container .custom-btn-group {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 하단 버튼 스타일 */
.d-flex {
    justify-content: space-between;
    margin-bottom: 10px;
}
#edit-btn, #del-btn {
    width: 49%;
}

/* 댓글 스타일 적용*/
#comments {
    margin-bottom: 20px;
}
#commentData{
    margin-bottom: 16px;
}
#commentContent {
    margin: 0 20px;
}
.row {
    justify-content: space-between;
}
.offset-md-2 {
    display: flex;
    justify-content: end;
    align-items: end;
}
.bottom-line {
    border-bottom: 1px solid lightgray;
}
#commentEditBtn, #commentDelBtn {
    height: 30px;
}

/* 페이지 버튼 스타일 */
.pagination-custom li a {
    color: #000 !important;
}
.pagination-custom li.active a,
.pagination-custom li:hover a {
    background: lightyellow !important;
    border-color: orange !important;
}
