<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.academy.latteis.board.repository.BoardMapper">

    <!-- sql과 java의 이름 관례 차이에서 오는 매핑을 맞춰주는 것 -->
    <resultMap id="boardMap" type="com.academy.latteis.board.domain.Board">
        <result property="boardNo" column="board_no"/>
        <result property="topicNo" column="topic_no"/>
        <result property="userNickname" column="user_nickname"/>
    </resultMap>

    <!-- 좋아요 관련 Board dto -->
    <resultMap id="boardGoodMap" type="com.academy.latteis.board.dto.BoardGoodDTO">
        <result property="boardNo" column="board_no"/>
        <result property="topicNo" column="topic_no"/>
        <result property="userNickname" column="user_nickname"/>
        <result property="userNo" column="user_No"/>
    </resultMap>

    <!-- BoardConvertDTO -->
    <resultMap id="boardConvertMap" type="com.academy.latteis.board.dto.BoardConvertDTO">
        <result property="boardNo" column="board_no"/>
        <result property="topicNo" column="topic_no"/>
        <result property="userNickname" column="user_nickname"/>
    </resultMap>

    <!-- 중복 쿼리문 재사용하기 -->
    <sql id="search">
        <if test="type == 'title'">WHERE title LIKE CONCAT('%', #{keyword}, '%')</if>
        <if test="type == 'writer'">WHERE writer LIKE CONCAT('%', #{keyword}, '%')</if>
        <if test="type == 'content'">WHERE content LIKE CONCAT('%', #{keyword}, '%')</if>
        <if test="type == 'tc'">
            WHERE title LIKE CONCAT('%', #{keyword}, '%')
            OR content LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </sql>


    <insert id="write">
        insert into board
            (writer, title, content, user_nickname)
        values (#{writer}, #{title}, #{content}, #{userNickname})
    </insert>

    <select id="findAll" resultMap="boardConvertMap">
        SELECT *
        FROM board

        <include refid="search"/>

        ORDER BY board_no DESC
        LIMIT #{start}, #{amount}
    </select>

    <select id="findOne" resultMap="boardGoodMap">
        select *
        from board b left outer join board_good bg
        on (b.board_no = bg.board_no)
        where b.board_no = #{boardNo}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM board
        <include refid="search"/>
    </select>

    <!-- 게시글 삭제 -->
    <delete id="remove">
        delete
        from board
        where board_no = #{boardNo}
    </delete>

    <!-- 게시글 수정 -->
    <update id="edit">
        update board
        set writer=#{writer},
            title=#{title},
            content=#{content}
        where board_no = #{boardNo}
    </update>

    <!-- 조회수 -->
    <update id="upHit">
        UPDATE board
        SET hit = hit + 1
        WHERE board_no = #{boardNo}
    </update>

<!--    <resultMap id="valMap" type="com.academy.latteis.board.dto.ValidateUserDTO">-->
<!--        <result property="userEmail" column="user_email" />-->
<!--    </resultMap>-->

    <!-- 게시글 번호에 맞는 계정 가져오기 -->
    <select id="findUserByBoardNo" resultType="com.academy.latteis.board.dto.ValidateUserDTO">
        SELECT user_email AS userEmail, auth
        FROM user
        WHERE user_nickname = (
            SELECT user_nickname
            FROM board
            WHERE board_no = #{boardNo}
            )
    </select>
</mapper>