<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.academy.latteis.board.repository.BoardMapper">

    <!-- sql과 java의 이름 관례 차이에서 오는 매핑을 맞춰주는 것 -->
    <resultMap id="boardMap" type="com.academy.latteis.board.domain.Board">
        <result property="boardNo" column="board_no"/>
        <result property="topicNo" column="topic_no"/>
    </resultMap>

    <insert id="write">
        insert into board
            (writer, title, content)
        values (#{writer}, #{title}, #{content})
    </insert>

    <select id="findAll" resultMap="boardMap">
        SELECT *
        FROM board
        ORDER BY board_no DESC
        LIMIT #{start}, #{amount}
    </select>

    <select id="findOne" resultMap="boardMap">
        select * from board where board_no = #{boardNo}
    </select>
    
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM board
    </select>

    <!-- 게시글 삭제 -->
    <delete id="remove">
        delete from board where board_no = #{boardNo}
    </delete>
</mapper>